body {
    background: linear-gradient(180deg, #FFF7EA 0%, #FFF7EA 23.96%, rgba(245, 231, 207, 0.989452) 62.5%, rgba(253, 227, 184, 0.98) 100%);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;  
}

/* general style */
img {
    width: 500px;
    height: 420px;
}
h2 {
    display: none;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
}

/* nav style */
#nav-menu {
    overflow: hidden;
}
#nav-menu ul {
    width: 100%;
    background-color: #FCEFDA; 
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 60px;
    margin: 0;
}
#navbar li a {
    padding: 20px 60px;
    margin: 40px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;  
    color: #333333;

}
#nav-menu .active, .btn, a:hover {
    color:#E0856C;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + section {
    padding-top: 60px;
}

/* header style */
.welcome img,
.header-p {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}
.header-p{
    padding: 20px;
}

/* section style */
p,
.hidden-content {
    width: 600px;
    text-align: justify;
}
#section-1,
#section-2,
#section-3 {
    width: 25vh;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 16em 0;
}
#section-2 {
    width: 100vw;
    background-color: #B5817F;
}

/* inquiry style */
.inquiry {
    text-align: center;
}
.inquiry img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.inquiry p {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.inquiry h2 {
    margin-bottom: 0;
}
.email {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #333333;
    background-color: #FCEFDA;
}
.sign-up {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: #B5817F;
    border: 1px solid #333333;
    color: #FFF7EA;
}

/* footer style */
footer , 
.page-footer {
    padding: 40px;
    background-color: #E0856C;
    font-size: 10px;
    margin: auto;
    color: #FFF7EA;
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}
footer a {
    margin: auto;
    text-decoration: none;
    color: #FFF7EA;
    text-align: center;
}
footer a:hover {
    color:#B5817F
}

/* collapsible content style */
.collapsible {
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9D6D6B;
    outline: none;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #FAE5C2;
}
.active, .collapsible:hover {
    background-color: #FAE5C2;
}
#content-light {
    border-bottom: 1px solid #9D6D6B;

}
#content-light:hover {
    background-color: #9D6D6B;

}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #FFF7EA;
}

